<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BPC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BPC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>

    <section name="DatabaseSettings" type="BPC.Config.DatabaseSettings, BPC" />
    <section name="MontelApiSettings" type="BPC.Config.MontelApiSettings, BPC" />
    <section name="InstrumentsSettings" type="BPC.Config.InstrumentsSettings, BPC" />


  </configSections>

  <DatabaseSettings>
    <ConnectionStringParts DataSource="TN-DB12" InitialCatalog="TNDB_MarketData" UserID="DataAdmin" Password="QazWsx1234">
    </ConnectionStringParts>
  </DatabaseSettings>

  <MontelApiSettings>
    <ConnectionStringParts Clientid="bd9c2591-f6cc-426f-93d5-53f0e2b77bcb" Username="api-tradenode-dev" Password="dj8akis">
    </ConnectionStringParts>
  </MontelApiSettings>

  <InstrumentsSettings>
    <ConnectionStringParts Path="d:\Temp\Instruments.xml">
    </ConnectionStringParts>
  </InstrumentsSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="MontelWebApiUri" value="https://api.montelnews.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <BPC.Properties.Settings>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="ClientId" serializeAs="String">
        <value />
      </setting>
      <setting name="Token" serializeAs="String">
        <value />
      </setting>
      <setting name="TokenExpireTime" serializeAs="String">
        <value />
      </setting>
      <setting name="SaveCredentials" serializeAs="String">
        <value>False</value>
      </setting>
    </BPC.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <BPC.Properties.Settings>
      <setting name="HttpCompress" serializeAs="String">
        <value>deflate</value>
      </setting>
    </BPC.Properties.Settings>
    <!--InstrumentFileLocation>
      <setting name="FolderLocation">
        <value>"c:\program files\tradenode\tnbpc\"</value>
      </setting>
    </InstrumentFileLocation>-->
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
